<h1 mat-dialog-title>Create Playlist</h1>
<div class="dialog-content">
  <form [formGroup]="playlistForm">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" autocomplete="off">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" autocomplete="off">
    </mat-form-field>
    <mat-slide-toggle formControlName="public" color="primary">Public</mat-slide-toggle>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" [disabled]="playlistForm.invalid" (click)="createPlaylist()">Create</button>
</div>
