/* colors */

$color-primary-dark: #691a40;
$color-primary: #9e3668;
$color-primary-light: #f6a9ce;
$color-primary-lighter: #fde3f0;

$color-white: #fff;
$color-black: #000;

$color-light: #f8f9fa;
$color-dark:#343a40;

$color-grey-light: #ececec;
$color-grey-dark: #6c757d;

/* spacing */

$content-padding: 2rem;
$content-margin: 2rem;
