@import 'src/app/styles/variables';

.app-background {
  background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
  background-size: cover;
  min-height: 100vh;
}

.app-content {
  background-color: $color-white;
  min-height: calc(100vh - 22rem);
  max-width: 90rem;
  margin: 1rem auto;
  padding: 0 2.5rem 2.5rem 2.5rem;
  border-radius: 5px;
}
