@import 'src/app/styles/variables';

.app-background {
  // background-image: url('src/assets/images/app-background.jpg');
  background-image: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
  background-size: contain;
  min-height: 100vh;
}

.app-content {
  background-color: $color-white;
  min-height: calc(100vh - 7rem);
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2.5rem 2.5rem 2.5rem;
}
