@import '../../styles/variables';

.footer-container {
  background-color: $color-grey-dark-1;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1rem solid $color-primary;

  &-title {
    color: $color-primary;
    font-size: 2.5rem;
    font-weight: 300;
  }
}
