<h1 mat-dialog-title>Select Playlist</h1>
<div class="dialog-content">
  <mat-chip-list>
    <mat-chip *ngFor="let playlist of playlists" (click)="selectPlaylist(playlist)" selected
      [color]="selectedPlaylist === playlist.id ? 'primary' : 'accent'" class="cursor-pointer">
      {{playlist.name}}
    </mat-chip>
  </mat-chip-list>
</div>
<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="addSongToPlaylist()">Add</button>
</div>
