@import '../../styles/variables';

nav {
  display: flex;
  align-items: center;
  height: 7rem;
  padding: $content-padding;
  justify-content: space-between;
  box-shadow: 0 1px 5px $color-dark;
  font-size: 1.6rem;
  background-color: $color-white;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  color: $color-primary;
  font-size: 2.5rem;
  font-weight: 700;
}

.search {
  width: 40%;
  text-align: center;

  i {
    cursor: pointer;
    color: $color-grey-light;
  }
}

input {
  border-radius: 5rem;
  padding: 1rem;
  border: 2px solid $color-grey-light;
  margin-right: -3rem;
  width: 90%;
  transition: all .2s linear;

  &:focus {
    outline: none;
    width: 100%;
  }
}

.account-details {
  display: flex;
  align-items: center;

  &-name {
    margin-right: 1rem;
    color: $color-primary;
    font-size: 2rem;
    font-weight: 400;
  }

  &-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  .user-icon {
    background-image: linear-gradient(to top right, $color-primary-dark, $color-primary-lighter);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 2rem;;
      color: $color-white;
    }
  }
}
