@import '../../styles/variables';

nav {
  display: flex;
  align-items: center;
  height: 7rem;
  padding: 2rem;
  justify-content: space-between;
  box-shadow: 0 1px 5px $color-grey-dark-1;
  font-size: 1.6rem;
  background-color: $color-grey-dark-1;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  color: $color-primary;
  font-size: 2.5rem;
  font-weight: 300;
  cursor: pointer;
  outline: none;
}

.search {
  width: 40%;
  text-align: center;

  i {
    cursor: pointer;
    color: $color-grey-dark-2;
  }
}

input {
  font-family: 'Poppins', sans-serif;
  border-radius: 5rem;
  padding: 1rem;
  border: 2px solid $color-grey-dark-2;
  color: $color-grey-dark-2;
  margin-right: -3rem;
  width: 90%;
  transition: all .2s linear;
  background-color: $color-grey-dark-1;


  &:focus {
    outline: none;
    width: 100%;
    color: $color-white
  }
}

.account-details {
  display: flex;
  align-items: center;

  &-item {
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-image: linear-gradient(to top right, $color-primary-dark, $color-primary-light);
    transition: height .3s ease;
    cursor: pointer;

    mat-icon {
      height: 3rem;
      width: 3rem;
      font-size: 3rem;
    }

    i {
      font-size: 2rem;
    }

    &:hover {
      height: 7rem;
      border-radius: 0;
    }
  }

  &-name {
    color: $color-primary;
    font-size: 2rem;
    font-weight: 300;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &-image {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }

  &-dropdown {
    color: $color-primary;
    cursor: pointer;
  }
}
