<main>
  <section class="header">
    <div class="header-title">My Playlists</div>
    <div class="action-button" (click)="createPlaylist()">
      <mat-icon>add</mat-icon>
    </div>
  </section>

  <section class="playlists-container">
    <div *ngFor="let playlist of playlists" class="playlist">
      <span class="playlist-title">{{playlist.name}}</span>
      <div class="playlist-icon" (click)="editPlaylist(playlist)">
        <mat-icon>edit</mat-icon>
      </div>
      <div class="playlist-icon" (click)="deletePlaylist(playlist)">
        <mat-icon>delete</mat-icon>
      </div>
    </div>
  </section>
</main>
