<main>
  <section *ngIf="tracks && tracks.length" class="search-results">
    <h2 class="search-results-heading">Tracks</h2>
    <div class="search-results-list">
      <div *ngFor="let track of tracks | slice:0:5" class="list-element">
        <img class="list-element-image" [src]="track?.album?.images[0]?.url">
        <div class="list-element-info">
          <span class="list-element-info-title">{{track.name}}</span>
          <span class="list-element-info-artist">{{track?.artists[0]?.name}}</span>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="artists && artists.length" class="search-results">
    <h2 class="search-results-heading">Artists</h2>
    <div class="search-results-list flex-row">
      <div *ngFor="let artist of artists | slice:0:5" class="artist">
        <ng-container *ngIf="artist.images && artist.images.length">
          <img class="artist-image" [src]="artist.images[0].url">
          <span class="artist-title">{{artist.name}}</span>
          <span class="artist-followers">{{artist.followers.total}} followers</span>
        </ng-container>
      </div>
    </div>
  </section>

  <section *ngIf="albums && albums.length" class="search-results">
    <h2 class="search-results-heading">Albums</h2>
    <div class="search-results-list">
      <div *ngFor="let album of albums | slice:0:5" class="list-element">
        <img class="list-element-image" [src]="album?.images[0]?.url">
        <div class="list-element-info">
          <span class="list-element-info-title">{{album.name}}</span>
          <span class="list-element-info-artist">{{album?.artists[0]?.name}}</span>
        </div>
      </div>
    </div>
  </section>

  <section *ngIf="playlists && playlists.length" class="search-results">
    <h2 class="search-results-heading">Playlists</h2>
    <div class="search-results-list">
      <div *ngFor="let playlist of playlists | slice:0:5" class="list-element">
        <img class="list-element-image" [src]="playlist?.images[0]?.url">
        <div class="list-element-info">
          <span class="list-element-info-title">{{playlist.name}}</span>
          <span class="list-element-info-artist">{{playlist?.description}}</span>
        </div>
      </div>
    </div>
  </section>
</main>
