@import '../../styles/variables';

main {
  max-width: 80rem;
  margin: 2rem auto;
}

.playlist-title {
  font-size: 4rem;
  font-weight: 200;
  color: $color-white;
}

.playlist-tracks {
  margin-top: 2rem;
}

.track {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  width: 80%;

  &-image {
    width: 6rem;
    height: 6rem;
    min-width: 6rem;
    border-radius: 5px;
    margin-right: 1rem;
    cursor: pointer;
  }

  &-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    cursor: pointer;

    &-title {
      font-size: 1.8rem;
      font-weight: 400;
      color: $color-white;
    }

    &-artist {
      font-size: 1.4rem;
      color: $color-grey-light-4;
    }
  }

  .track-remove {
    margin-left: auto;
    height: 4.5rem;
    width: 4.5rem;
    background-color: $color-white;
    cursor: pointer;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 2px 5px $color-black;
    transition: all .2s;

    &:hover {
      box-shadow: 2px 4px 10px $color-black;
    }
  }
}
