@import 'src/app/styles/variables';

.corousel {
  position: relative;

  &-image {
    width: 100%;
    height: calc(100vh - 7rem);
  }

  &-title {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    color: $color-white;
    text-shadow: .5rem .5rem 1rem $color-black;

    &-name {
      font-size: 4rem;
    }

    &-info {
      font-size: 3rem;
    }
  }
}

.category-title {
  color: $color-primary;
  font-size: 3rem;
  font-weight: 300;
  margin: 1.5rem 0;
}

.tracks-container {
  display: flex;
  flex-direction: column;

  .track-image {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
  }

  .track-title {
    font-size: 1.2rem;
    color: $color-grey-dark-1;
  }
}
