@import 'src/app/styles/variables';

.banner-container {
  display: flex;
  height: calc(100vh - 9rem);
  margin: 1rem;

  .banner {
    flex: 50% 0 0;
    height: calc(100% - 10rem);
  }
}

.new-releases {
  border-right: .5px solid $color-white;
  padding-right: 1rem;

  &-heading {
    font-size: 3.5rem;
    font-weight: 200;
    color: $color-white;
    text-align: right;
  }
}

.top-artists {
  margin-left: 2px;
  border-left: .5px solid $color-white;
  align-self: flex-end;
  padding-left: 1rem;

  &-heading {
    font-size: 3.5rem;
    font-weight: 200;
    color: $color-white;
  }
}

.corousel {
  position: relative;

  &-image {
    width: 100%;
    height: calc(100% - 6rem);
    transition: all .3s;
  }

  &-title {
    opacity: 0;
    position: absolute;
    bottom: 7rem;
    left: 3rem;
    display: flex;
    flex-direction: column;
    color: $color-white;
    transition: all .3s;

    &-name {
      font-size: 3rem;
    }

    &-info {
      font-size: 2rem;
    }
  }

  &:hover {
    .corousel-image {
      filter: brightness(0.5);
    }

    .corousel-title {
      opacity: 1;
    }
  }
}

.categories-container {
  background-color: $color-grey-light-2;
}

.category {
  max-width: 995px;
  margin: 0 auto;
  padding: 1rem;

  &-title {
    color: $color-primary;
    font-size: 3rem;
    font-weight: 300;
    margin: 1.5rem 0;
  }
}

.tracks-container {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;

  .track-image {
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    transition: all .2s;
  }

  .track-title {
    font-size: 1.4rem;
    color: $color-grey-dark-1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1rem;
  }

  .track-sub-title {
    font-size: 1rem;
    color: $color-grey-dark-2;
  }

  .track-play-icon {
    position: absolute;
    color: $color-white;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .2s;
  }

  &:hover {
    .track-image {
      filter: brightness(0.5);
    }

    .track-play-icon {
      opacity: 1;
      top: 75px;
    }
  }
}
