<main>
  <section class="banner-container">
    <div class="banner new-releases">
      <h2 class="new-releases-heading">New Releases</h2>
      <swiper *ngIf="newReleases && newReleases.length" [config]="corouselConfig">
        <div *ngFor="let track of newReleases | slice:0:10" class="corousel">
          <img class="corousel-image" [src]="track.images[0].url" />
          <div class="corousel-title">
            <span class="corousel-title-name">{{track.name}}</span>
            <span class="corousel-title-info">{{track.type | titlecase}} by
              <span *ngFor="let artist of track.artists">{{artist.name}}&nbsp;</span>
            </span>
          </div>
        </div>
      </swiper>
    </div>
    <div class="banner top-artists">
      <h2 class="top-artists-heading">Top Artists</h2>
    </div>
  </section>

  <section class="categories-container">
    <div *ngFor="let category of categories" class="category">
      <h1 class=" category-title">{{category.title}}</h1>
      <swiper *ngIf="category.tracks && category.tracks.length" [config]="swiperConfig">
        <div *ngFor="let track of category.tracks | slice:0:10" class="tracks-container">
          <img class="track-image" [src]="track?.track?.album?.images[0].url" />
          <span class="track-title">{{track?.track?.name}}</span>
        </div>
      </swiper>
    </div>
  </section>
</main>
