/* You can add global styles to this file, and also import other style files */
@import './app/styles/base';
@import './app/styles/variables';


.swiper-button-prev,
.swiper-button-next {
  color: $color-white !important;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-dialog-styles {
  font-size: 1.4rem !important;
}

.mat-form-field {
  width: 100%;
}

.mat-dialog-actions {
  justify-content: space-between;
}

.empty-list {
  font-size: 2rem;
  margin-top: 5rem;
  text-align: center;
  color: $color-grey-light-3;
}
