@import'../../styles/variables';

.track-container {
  display: flex;
  margin: 4rem;
  height: 50rem;

  @media (max-width: 700px) {
    flex-direction: column;
  }
}

.track-image {
  flex: 50rem 0 0;

  img {
    height: 50rem;
    width: 50rem;
    box-shadow: 2px 4px 10px $color-black;
    border-radius: 5px;

    @media (max-width: 700px) {
      height: 40rem;
      width: 40rem;
    }
  }

  @media (max-width: 700px) {
    flex: 40rem 0 0;
    text-align: center;
  }
}

.track {
  flex-grow: 1;
  margin-left: 4rem;
  position: relative;
  color: $color-white;

  &-title {
    font-size: 5rem;
    font-weight: 200;
    display: flex;
    align-items: center;
  }

  &-actions {
    margin-left: auto;
    height: 4rem !important;
    width: 4rem !important;
    font-size: 4rem !important;
    cursor: pointer;
  }

  &-artist {
    font-size: 2.4rem;
    margin-left: 5px;
    font-weight: 500;
  }

  &-info {
    font-size: 1.6rem;
    margin-left: 5px;
  }

  &-audio {
    width: 100%;
    position: absolute;
    bottom: 0;
    outline: none;
  }

  @media (max-width: 700px) {
    margin-left: 0;
    margin-top: 2rem;

    &-title {
      font-size: 4rem;
    }

    &-audio {
      margin-top: 3rem;
      position: relative;
    }
  }
}
